# SERVER
TZ: UTC
APPLICATION_ENV: DEV
SERVER_PORT: 3000
API_PREFIX: api
LIMIT_CONCURRENT_LOGIN: true

# DATABASE
DB_HOST: localhost
DB_PORT: 5432
DB_NAME: postgres
DB_USER_NAME: postgres
DB_USER_PASSWORD: postgrespw

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT ACCESS TOKEN
JWT_ACCESS_TOKEN_SECRET: secret
JWT_ACCESS_TOKEN_EXPIRATION_TIME: 900

# JWT REFRESH TOKEN
JWT_REFRESH_TOKEN_SECRET: secret2
JWT_REFRESH_TOKEN_EXPIRATION_TIME: 604800
